.popup {
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  /* right: 0;
  bottom: 0; */
  transition: visibility 0.8s, opacity 0.8s linear;
  visibility: hidden;
  opacity: 0;
}
